@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Wallpoet&display=swap");

.container {
	margin: 10% auto;
	height: 820px;
	width: 600px;
	border-radius: 50px;
	background: #0261ff;
	box-shadow: 20px -20px 60px #0252d9, -20px 20px 60px #0270ff;
}

.display {
	position: relative;
	top: 30px;
	left: 45px;
	height: 150px;
	width: 510px;
	border-radius: 20px;
	background: #9bb88e;
	box-shadow: inset 20px -20px 60px #849c79, inset -20px 20px 60px #b2d4a3;
}

.display p {
	position: relative;
	top: 25px;
	left: 3px;
	width: 500px;
	text-align: right;
	font-size: 6rem;
	font-family: "Source Sans Pro", sans-serif;
	font-family: "Wallpoet", cursive;
}

.clear-and-backspace {
	position: relative;
	top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.clear-and-backspace button {
	font-size: 2rem;
	text-align: center;
	border-radius: 20px;
	background: #3275e2;
	box-shadow: inset 20px -20px 60px #2b63c0, inset -20px 20px 60px #3a87ff;
	color: gray;
	width: 240px;
	height: 100px;
	transition: all 0.3s;
}

.clear-and-backspace button:hover {
	transform: scale(1.1);
}

.btn-container {
	position: relative;
	width: 525px;
	top: 75px;
	left: 45px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 20px;
	justify-content: center;
}

button.buttons {
	font-size: 1.5rem;
	border-radius: 20px;
	background: #3275e2;
	box-shadow: inset 20px -20px 60px #2b63c0, inset -20px 20px 60px #3a87ff;
	color: gray;
	width: 100px;
	height: 100px;
	transition: all 0.3s;
}

button.buttons:hover {
	transform: scale(1.1);
}
